# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
venv/
.env/
.env.*

# -----------------------------
# AI / Whisper models
# -----------------------------
models/
*.pt
*.bin
*.onnx

# -----------------------------
# Upload / temporary files
# -----------------------------
uploads/
temp/
tmp/
*.tmp
*.log

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# -----------------------------
# Build / cache
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# FFmpeg temp
# -----------------------------
*.wav
*.pcm